// area для кнопок
#btn-reset {
    grid-area: reboot;
}
#btn-del {
    grid-area: del;
}
#btn-bracket {
    grid-area: bracket;
}
#btn-divide {
    grid-area: divide;
}
#btn-seven {
    grid-area: seven;
}
#btn-eith {
    grid-area: eith;
}
#btn-nine {
    grid-area: nine;
}
#btn-multipl {
    grid-area: multipl;
}
#btn-four {
    grid-area: four;
}
#btn-five {
    grid-area: five;
}
#btn-six {
    grid-area: six;
}
#btn-substr {
    grid-area: substr;
}
#btn-one {
    grid-area: one;
}
#btn-two {
    grid-area: two;
}
#btn-three {
    grid-area: three;
}
#btn-addit {
    grid-area: addit;
}
#btn-dblzero {
    grid-area: dblzero;
}
#btn-zero {
    grid-area: onezero;
}
#btn-point {
    grid-area: pointe;
}
#btn-result {
    grid-area: result;
}